@media only screen  and (min-width: 1440px){
    body {
        margin: 0;
        padding: 20px;
        padding-left: 30vw;
        padding-right: 30vw;
        background-color: #d5e2f0;
        color: #333;
    }
}
@media only screen  and (min-width: 768px) and (max-width:1440px){
    body {
        margin: 0;
        padding: 20px;
        padding-left: 20vw;
        padding-right: 20vw;
        background-color: #d5e2f0;
        color: #333;
    }
}
@media only screen and (min-width: 425px) and (max-width:768px) {
    body {
        margin: 0;
        padding: 20px;
        padding-left: 1vw;
        padding-right: 1vw;
        background-color: #d5e2f0;
        color: #333;
    }
}
@media only screen and (max-width:425px) {
    body {
        font-size: smaller;
        margin: 0;
        padding-top: 20px;
        background-color: #d5e2f0;
        color: #333;
    }
}

body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

header {
    text-align: center;
    margin-bottom: 20px;
    background: linear-gradient(150deg, #8000ff, #00ffd0);
    color: white;
    padding: 20px;
    border-radius: 8px;
}
h1 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.8em;
}
.contact-info {
    margin: 10px 0;
    font-size: 1.1em;
}
.contact-info a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}
.contact-info a:hover {
    color: #FFD700;
}
.section {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.language-section {
    background: linear-gradient(150deg, #8000ff, #00ffd0);
    padding: 15px;
    color: white;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.language-section h2 {
    color: white;
    border-bottom: 2px solid #ffffff;
}
h2 {
    font-size: 1.1em;
    color: #8000ff; 
    border-bottom: 2px solid #8000ff;
    padding-bottom: 5px;
}
.skills {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 0.7em;
}
.skill {
    width: 30%;
    transition: transform 0.3s;
    cursor: pointer; 
}
.skill:hover {
    transform: scale(1.05);
}
.skill-bar {
    background: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    height: 20px;
    margin: 5px 0;
}
.skill-level {
    height: 100%;
    background: #28a745;
    text-align: center;
    color: white;
    line-height: 20px;
    transition: width 0.3s;
}
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #777;
}
.project-list {
    list-style-type: none;
    padding: 0;
    margin: 5px 0px;

}
.project-list li {
    background: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}
.project-list li:hover {
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
}
.language:hover {
    cursor: pointer;
}
p, li, .skills, label, span{
    font-size: 0.8em;
}
.level {
    background: #5555ef47;
    width: fit-content;
    padding: 6px 12px;
    border-radius: 5px;
}
#positions {
    color: white;
    margin-top: 0px;
    font-size: larger;
    border-image: linear-gradient(90deg, red, yellow, green, rgb(0, 225, 255), purple, rgb(25, 0, 255)) 1;
    animation: animateBorderGradient 2s ease infinite;
}
@keyframes animateBorderGradient {
    0% { border-image-source: linear-gradient(90deg, red, yellow, green, rgb(0, 225, 255), purple, rgb(25, 0, 255)); }
    50% { border-image-source: linear-gradient(90deg, purple, rgb(25, 0, 255), red, yellow, green, rgb(0, 225, 255)); } /* Invertendo/mudando a ordem para animar */
    100% { border-image-source: linear-gradient(90deg, red, yellow, green, rgb(0, 225, 255), purple, rgb(25, 0, 255)); }
}

.see-more-container {
    width: 0px;
    height: 24px;
    padding: 2px 0px;
    position: relative;
}
@media (min-width: 768px) {
    .academic-training-container {
        display: flex;
        flex-direction: row;
    }
    
    .see-more {
        width: max-content;
        height: max-content;
        background-color: #8c97cd;
        padding: 5px 18px 5px 30px;
        border-radius: 0px 10px 10px 0px;
        position: absolute;
        right: -15px;
        margin-top: 5px;
        z-index: 0;
        color: white;
        transition: right 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        cursor: pointer;
    }
    .information-container  div{
        display: inline-flex;
        flex-wrap: wrap;
        gap: 0px 30px;
    
    }
    .information-container {
        background-color: #e2e2eb;
        width: auto;
        max-width: fit-content;
        padding: 10px 15px;
        border-radius: 5px;
        flex-wrap: wrap;
        display: inline-flex;
        z-index: 1;
    }
    .resume-information-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0px 30px;
    }
    .about-container {
    
    }
}
@media (max-width: 768px) {
    .academic-training-container {
        display: flex;
        flex-direction: column;
    }
    
    .see-more {
        width: max-content;
        height: max-content;
        background-color: #8c97cd;
        padding: 5px 15px;
        border-radius: 10px;
        position: absolute;
        margin-top: 5px;
        z-index: 1;
        color: white;
        transition: right 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        cursor: pointer;
    }
    .information-container  div{
        display: inline-flex;
        flex-wrap: wrap;
        gap: 0px 30px;
    
    }
    .information-container {
        background-color: #e2e2eb;
        width: auto;
        max-width: fit-content;
        padding: 10px 15px;
        border-radius: 5px;
        flex-wrap: wrap;
        display: inline-flex;
        z-index: 1;
    }
    .resume-information-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0px 30px;
    }
    .about-container {
    
    }
}
.status-level {
    display: inline-flex;
    flex-direction: row;
    overflow-wrap: break-word;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px 8px;
}

.list-item {
    display:flex;
    flex-direction: column;
}
.title-list-item {
    flex-direction: row;
    align-items: center;
    word-break: auto-phrase;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 6px;
}

button.btn {
    align-self:flex-end;
    transition: transform 0.2s ease;
}
button.btn:active{
    transform: scale(0.85);
}
.status-studying {
    background: #ffc43ad6;
    width: fit-content;
    padding: 6px 12px;
    border-radius: 5px;
}

.status-complete {
    background: #4fff6dc4;
    width: fit-content;
    padding: 6px 12px;
    border-radius: 5px;
}