<div>
    <ul class='project-list'>
        <li class="list-item">
            <div class="title-list-item">
                <strong>{{item.name}}</strong>
                <div class="level">{{item.level}}</div>
            </div>
            <div class="information-container">
                <span><strong>{{item.institution_title}}: </strong> {{item.institution}} </span><br>
                <span><strong>{{item.location_title}}: </strong> {{item.location}} </span><br>
                <span><strong>{{item.start_date_title}}: </strong> {{item.start_date}} </span>
                <span><strong>{{item.end_date_title}}: </strong> {{item.end_date}} </span>
            </div>
        </li>
    </ul>
</div>
