
<li class="card column gap bg-light">
    <div class="row flex lg-gap">
        <strong><h3>{{item.name}}</h3></strong>
        <div class="row flex sm-gap">
            <div class="sm-card bg-light-blue" title="Cargo ocupado na empresa">
                {{item.position}}
            </div>
            {% if not item.end_date %}
                <div class="sm-card bg-green" title="Atualmente estou empregado aqui">
                    Atualmente
                </div>                       
            {% endif %}
        </div>
    </div>
    <div class="responsive-row">
        <div class="content sm-rounded bg-light-grey">
            <div class="column sm-gap">
                <div class="row flex lg-gap">
                    <span><strong>Empresa: </strong> {{item.enterprise}} </span>
                    <span><strong>Localização: </strong> {{item.address}} </span><br>
                </div>
                <div class="row flex lg-gap">
                    <span><strong>Início: </strong> {{item.start_date}} </span>
                    <span><strong>Fim: </strong> 
                        {% if item.end_date %} 
                            {{item.end_date}} 
                        {% else %}
                            Atualmente
                        {% endif %}
                    </span>
                </div>
            </div>
            <div class="expansive-container">
                <p><strong>Sobre: </strong>{{ item.about }}</p>
            </div>
        </div>
        <div id="see-more">
            <span>
                Ver mais
            </span>
        <div>
    </div>
</li>
