
<div>
    <ul class='project-list'>
        <li class="list-item">
            <div class="title-list-item">
                <strong><h3>{{item.name}}</h3></strong>
                <div class="status-level">
                    {% if not item.end_date %}
                        <div class="status-complete">
                            <span>
                                Atualmente
                            </span>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="academic-training-container">
                <div class="information-container">
                    <div class="resume-information-container">
                        <div>
                            <span><strong>Empresa: </strong> {{item.enterprise}} </span>
                            <span><strong>Localização: </strong> {{item.address}} </span><br>
                        </div>
                        <div>
                            <span><strong>Início: </strong> {{item.start_date}} </span>
                            <span><strong>Fim: </strong> 
                                {% if item.end_date %} 
                                    {{item.end_date}} 
                                {% else %}
                                    Atualmente
                                {% endif %}
                            </span>
                        </div>
                    </div>
                    <div class="about-container">
                        <span>
                            <strong>Sobre: </strong>
                            {{ item.about }}
                        </span>
                    </div>
                </div>
                <div class="see-more-container">
                    <span class="see-more">
                        Ver mais
                    </span>
                <div>
            </div>
        </li>
    </ul>
</div>
