<header>
    <h1>{{name}}</h1>
    <h2 id="positions">{{positions}}</h2>

    <p class="contact-info">
        <span>{{address_title}}: {{address}}</span><br>
        <span>{{phone_title}}: {{phone_01}}
            {% if phone_02 %}
            /{{phone_02}}
            {% endif %}
        </span><br>
        <span>E-mail: </span>
        <a href="mailTo:{{mail}}">
            <span>{{mail}}</span>
        </a> 
        <span>| LinkedIn: 
            <a href="{{linkedin}}">{{profile_title}}</a>
        </span>
    </p>
</header>
