<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currículo de Pedro Arthur</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet"> 

</head>
<body>
    <div class="container-responsive">
        <div class="side-a">
            <div class="container-column">
                {% include 'header.html' %}
                {% include 'about_me.html' %}
                {% include 'academic_training.html' %}
                {% include 'experience.html' %}
                {% include 'projects.html' %}
            </div>
        </div>
        <div class="side-b">
            {% include 'technical_skills.html' %}
            {% include 'languages.html' %}
        </div>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
