{% if item.end_date %}
    {% set project_status_class = "status-complete" %}
    {% set project_status = "Completo" %}
{% else %}
    {% set project_status_class = "status-studying" %}
    {% set project_status = "Em desenvolvimento" %}
{% endif %}
<div>
    <ul class='project-list'>
        <li class="list-item">
            <div class="title-list-item">
                <strong><h3>{{item.name}}</h3></strong>
                <div class="status-level">
                    <div class="{{project_status_class}}">
                        <span>
                            {{project_status}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="academic-training-container">
                <div class="information-container">
                    <div class="resume-information-container">
                        <div>
                            <span>
                                <strong>Tags: </strong>
                            </span>
                            {% for tag in item.tags.split(',') %}  
                                <span class="tag">
                                    {{tag}}
                                </span>
                            {% endfor %}
                        </div>
                        <div>
                            <span><strong>Início: </strong> {{item.start_date}} </span>
                            <span><strong>Fim: </strong> 
                                {% if item.end_date %} 
                                    {{item.end_date}} 
                                {% else %}
                                    Em desenvolvimento
                                {% endif %}
                            </span>
                        </div>
                    </div>
                    <div class="about-container">
                        <span>
                            <strong>Sobre: </strong>
                            {{ item.about }}
                        </span>
                    </div>
                </div>
                <div class="see-more-container">
                    <span class="see-more">
                        Ver mais
                    </span>
                <div>
            </div>
        </li>
    </ul>
</div>
