{% if item.end_date %}
    {% set project_status_class = "bg-green" %}
    {% set project_status = "Completo" %}
{% else %}
    {% set project_status_class = "bg-orange" %}
    {% set project_status = "Em desenvolvimento" %}
{% endif %}
<li class="card column gap bg-light">
    <div class="row flex lg-gap">
        <strong><h3>{{item.name}}</h3></strong>
        <div class="sm-card {{project_status_class}}" title="Estágio de desenvolvimento do projeto">
            {{project_status}}
        </div>
    </div>
    <div class="responsive-row">
        <div class="content sm-rounded bg-light-grey">
            <div class="column sm-gap">
                <div class="row flex sm-gap">
                    <strong>Tags: </strong>
                    {% for tag in item.tags.split(',') %}  
                        <span class="sm-card bg-grey">
                            {{tag}}
                        </span>
                    {% endfor %}
                </div>
                <div class="row flex lg-gap">
                    <span><strong>Início: </strong> {{item.start_date}} </span>
                    <span><strong>Fim: </strong> 
                        {% if item.end_date %} 
                            {{item.end_date}} 
                        {% else %}
                            Em desenvolvimento
                        {% endif %}
                    </span>
                </div>
                <div class="expansive-container">
                    <p><strong>Sobre: </strong>{{ item.about }}</p>
                </div>
            </div>
        </div>
        <div id="see-more">
            <span>
                Ver mais
            </span>
        <div>
    </div>
</li>
