<section class="card">
    <h2>Habilidades</h2> 
    <div class="content">
        <div class="list column sm-gap">
            {% for item in skills %} 
                <style>
                    #percentage-{{item.id}} {
                        width: {{item.percent_level}}%;
                    }
                </style>
                <div class="column sm-gap card bg-light hover-shadow">
                    <span class="row lg-gap space-between">
                        <strong>
                            <h5>
                                {{item.name}} 
                            </h5>
                        </strong>
                        <div class="sm-card lg-rounded bg-purple" title="Nível de proficiência, do básico ao avançado.">
                            <h5>
                                {{item.level}}
                            </h5>
                        </div>
                    </span>
                    <div class="percentage-bar" title="Nível de proficiência, quanto maior melhor.">
                        <div id="percentage-{{item.id}}" class="percentage"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>